.avatar {
  width: 100%;
}
.avatar .head {
  width: 100%;
  background: url("../images/item_bg_avatar.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.avatar .head .image,
.avatar .head .avatar1,
.avatar .head .sr {
  display: block;
  position: absolute;
}
.avatar .head .image {
  top: 3%;
  width: 100%;
  left: 0;
}
.avatar .head .exp {
  width: 1.64rem;
  height: 0.33rem;
  background: url("../images/exp_bg.png") no-repeat center;
  background-size: 1.64rem 0.33rem;
  position: absolute;
  left: 13%;
  bottom: 0;
  text-align: center;
  color: #fff;
}
.avatar .head .exp .lv {
  position: absolute;
  top: -0.05rem;
  z-index: 2;
  width: 100%;
  text-align: center;
  left: 0;
}
.avatar .head .exp .exp-bar {
  position: absolute;
  display: inline-block;
  width: 1.64rem;
  height: 0.33rem;
  left: 0;
  top: 0;
  background: url("../images/exp_bar.png") no-repeat;
  background-size: 1.64rem 0.33rem;
  z-index: 1;
}
