.avatar {
  width: 100%;
}
.avatar .head {
  width: 100%;
  background: url("../images/list.png") no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 130%;
  position: relative;
  overflow: hidden;
}
.avatar .head .image,
.avatar .head .avatar1,
.avatar .head .sr {
  display: block;
  position: absolute;
}
.avatar .head .image {
  top: 3%;
  width: 100%;
  left: 0;
}
.avatar .head .avatar1 {
  top: 70%;
  width: 90%;
  left: 5%;
}
.avatar .head .sr {
  top: 67%;
  width: 50%;
  left: 25%;
}
