@import "util";

.gen {
  width: 5.17rem;
  height: 3.62rem;
  .commonBackground("../images/cattr_bg.png");
  position: relative;
  margin: 0.1rem 0 0 0.6rem;
  > ul {
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 9%;
    li {
      width: 50%;
      float: left;
      height: 0.9rem;
      position: relative;
      i {
        display: inline-block;
        position: absolute;
        &.r, &.n {
          width: 0.41rem;
          height: 0.46rem;
          right: 0;
          top: 0.24rem;
        }
        &.sr, &.ur {
          width: 0.63rem;
          height: 0.46rem;
          right: 0;
          top: 0.24rem;
        }
        &.n {
          background: url("../images/rare_n.png") no-repeat center;
          background-size: 100%;
        }
        &.r {
          background: url("../images/rare_r.png") no-repeat center;
          background-size: 100%;
        }
        &.sr {
          background: url("../images/rare_sr.png") no-repeat center;
          background-size: 100%;
        }
        &.ur {
          background: url("../images/rare_ur.png") no-repeat center;
          background-size: 100%;
        }

        &.underline {
          width: 1.79rem;
          height: 0.05rem;
          background: url("../images/cattr_underline1.png") no-repeat center;
          bottom: 0.21rem;
          left: 0.18rem;
        }

        &.cattr {
          width: 0.58rem;
          height: 0.72rem;
          left: 0;
          top: 0.09rem;
          z-index: 2;

          &.cattr1 {
            background: url("../images/cattr_1.png") no-repeat center;
            background-size: 100% 100%;
          }
          &.cattr2 {
            background: url("../images/cattr_2.png") no-repeat center;
            background-size: 100% 100%;
          }
          &.cattr3 {
            background: url("../images/cattr_3.png") no-repeat center;
            background-size: 100% 100%;
          }
          &.cattr4 {
            background: url("../images/cattr_4.png") no-repeat center;
            background-size: 100% 100%;
          }
          &.cattr5 {
            background: url("../images/cattr_5.png") no-repeat center;
            background-size: 100% 100%;
          }
          &.cattr6 {
            background: url("../images/cattr_6.png") no-repeat center;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}

