.gen{
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  border: 3px #449fbd solid;
  position: relative;
  height: 6rem;
  >ul{
    width: 70%;
    margin-left: 30%;
    margin-bottom: 0.4rem;
    overflow: hidden;
  }
  .ul1{
    font-size: 14px;
    li{
      overflow: hidden;
      margin-top: 0.4rem;
    }
    .span1,.span2,.span3{
      display: inline-block;
      float: left;
      padding: 0.02rem 0;
      color: #fff;
    }
    .span1{
      width: 50%;
      border-radius: 5px;
      text-align: center;
      &.t1{
        background: url("../images/bg-t1.png") no-repeat;
        background-size: 100% 100%;
      }
      &.t2{
        background: url("../images/bg-t2.png") no-repeat;
        background-size: 100% 100%;
      }
      &.t3{
        background: url("../images/bg-t3.png") no-repeat;
        background-size: 100% 100%;
      }
      &.t4{
        background: url("../images/bg-t4.png") no-repeat;
        background-size: 100% 100%;
      }
      &.t5{
        background: url("../images/bg-t5.png") no-repeat;
        background-size: 100% 100%;
      }
      &.t6{
        background: url("../images/bg-t6.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .span2{
      text-align: right;
    }
    .span3{
      text-align: center;
      img{
        width: 30%;
        vertical-align: middle;
      }
    }
    .span2,.span3{
      width: 25%;
    }
  }
  .ul2{
    height: 100%;
    >li{
      height: 2.2rem;
      .t{
        display: block;
        margin-top: 0.2rem;
        font-size: 0.3rem;
        color: #fff;
        .f,.m{
          display: inline-block;
          padding: 0.2rem 0.5rem 0.1rem 0.5rem;
          color: #fff;
        }
        .f{
          background: url("../images/bg-parents.png") no-repeat center;
          background-size: 100% 100%;
        }
        .m{
          background: url("../images/bg-children.png") no-repeat center;
          background-size: 100% 100%;
        }
      }
      .avatar{
        font-size: 0;
        img{
          display: inline-block;
          margin: 0.3rem 0.2rem 0 0;
          width: 1rem;
        }
      }
    }
  }
  .tab{
    position: absolute;
    width: 20%;
    height: 13%;
    &.attr1 {
      left: -4%;
      top: 5%;
      background: url("../images/tab-attr1.png") no-repeat center;
      background-size: 100%;
      &.on{
        background: url("../images/tab-attr1-on.png") no-repeat center;
        background-size: 100%;
      }
    }
    &.attr2 {
      left: -4%;
      top: 25%;
      background: url("../images/tab-attr2.png") no-repeat center;
      background-size: 100%;
      &.on{
        background: url("../images/tab-attr2-on.png") no-repeat center;
        background-size: 100%;
      }
    }
    &.attr3 {
      left: -4%;
      top: 5%;
      background: url("../images/tab-attr3-on.png") no-repeat center;
      background-size: 100%;
    }
  }
}

