.gen {
  width: 5.17rem;
  height: 3.62rem;
  background: url("../images/cattr_bg.png") no-repeat center;
  background-size: 100% 100%;
  position: relative;
  margin: 0.1rem 0 0 0.6rem;
}
.gen > ul {
  width: 80%;
  height: 80%;
  margin: auto;
  padding-top: 9%;
}
.gen > ul li {
  width: 50%;
  float: left;
  height: 0.9rem;
  position: relative;
}
.gen > ul li i {
  display: inline-block;
  position: absolute;
}
.gen > ul li i.r,
.gen > ul li i.n {
  width: 0.41rem;
  height: 0.46rem;
  right: 0.3rem;
  top: 0.24rem;
}
.gen > ul li i.sr,
.gen > ul li i.ur {
  width: 0.63rem;
  height: 0.46rem;
  right: 0.3rem;
  top: 0.24rem;
}
.gen > ul li i.n {
  background: url("../images/rare_n.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.r {
  background: url("../images/rare_r.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.sr {
  background: url("../images/rare_sr.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.ur {
  background: url("../images/rare_ur.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.underline {
  width: 1.3rem;
  height: 0.05rem;
  background: url("../images/cattr_underline1.png") no-repeat center;
  background-size: 100% 100%;
  bottom: 0.21rem;
  left: 0.4rem;
}
.gen > ul li i.cattr {
  width: 0.58rem;
  height: 0.72rem;
  left: 0.2rem;
  top: 0.09rem;
  z-index: 2;
}
.gen > ul li i.cattr.cattr1 {
  background: url("../images/cattr_1.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.cattr.cattr2 {
  background: url("../images/cattr_2.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.cattr.cattr3 {
  background: url("../images/cattr_3.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.cattr.cattr4 {
  background: url("../images/cattr_4.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.cattr.cattr5 {
  background: url("../images/cattr_5.png") no-repeat center;
  background-size: 100% 100%;
}
.gen > ul li i.cattr.cattr6 {
  background: url("../images/cattr_6.png") no-repeat center;
  background-size: 100% 100%;
}
