#home {
  height: 100%;
}
#home.bg3 {
  background: url('../images/d3.jpg') no-repeat center;
  background-size: 100% 100%;
}
#home.bg6 {
  background: url('../images/d6.jpg') no-repeat center;
  background-size: 100% 100%;
}
#home .show {
  top: 0;
  width: 10rem;
  height: 100%;
}
#home .loading {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  z-index: 2000;
  background: url("../images/loading.jpg") no-repeat center;
  background-size: 100% 100%;
}
#home .bg-stone {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  z-index: 0;
}
#home .bg-stone.stone4 {
  background: url('../images/d4.png') no-repeat center;
  background-size: 100% 100%;
}
#home .bg-stone.stone7 {
  background: url('../images/d7.png') no-repeat center;
  background-size: 100% 100%;
}
#home .bo {
  mix-blend-mode: overlay;
}
#item {
  position: absolute;
  top: 0.3rem;
  z-index: 11;
}
#item .a1 > i {
  display: inline-block;
  width: 1.56rem;
  margin-left: 0.3rem;
  height: 1.57rem;
}
#item .a1 > i.icon1 {
  background: url("../images/item.png") no-repeat center;
  background-size: 100% 100%;
}
#item .a1 > i.icon2 {
  background: url("../images/item_close.png") no-repeat center;
  background-size: 100% 100%;
}
#item .a2 > i {
  display: inline-block;
  width: 1.25rem;
  margin-left: 0.4rem;
  margin-top: 0.2rem;
  height: 1.25rem;
}
#item .a2 > i.icon1 {
  background: url("../images/item_market.png") no-repeat center;
  background-size: 100% 100%;
}
#item .popup {
  position: absolute;
  top: 3rem;
  width: 7.67rem;
  height: 7.56rem;
  left: 1.17rem;
  background: url("../images/item_popup.png") no-repeat center;
  background-size: 100% 100%;
}
#item .popup.popup12 {
  width: 8.41rem;
  height: 10.97rem;
  top: 1.2rem;
  left: 0.8rem;
  background: url("../images/item_popup1.png") no-repeat center;
  background-size: 100% 100%;
}
#item .popup.popup13 {
  width: 7.66rem ;
  height: 8.99rem;
  top: 2.6rem;
  background: url("../images/item_popup13.png") no-repeat center;
  background-size: 100% 100%;
}
#item .popup > ul {
  width: 80%;
  height: 80%;
  padding: 10%;
}
#item .popup .item0 li {
  float: left;
  background: url("../images/item_box_bg.png") no-repeat center;
  background-size: 100% 100%;
  width: 33%;
  height: 33%;
}
#item .popup .item0 li i {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#item .popup .item0 li.l1 i {
  background: url("../images/item_box_1.png") no-repeat center;
  background-size: 1rem;
}
#item .popup .item0 li.l2 i {
  background: url("../images/item_box_2.png") no-repeat center;
  background-size: 1rem;
}
#item .popup .item0 li.l3 i {
  background: url("../images/item_box_3.png") no-repeat center;
  background-size: 1rem;
}
#item .popup .item0 li.l4 i {
  background: url("../images/item_box_4.png") no-repeat center;
  background-size: 1rem;
}
#item .popup .item0 li.l5 i {
  background: url("../images/item_box_5.png") no-repeat center;
  background-size: 1rem;
}
#item .popup .item0 li.l6 i {
  background: url("../images/item_box_6.png") no-repeat center;
  background-size: 1rem;
}
#item .popup .item0 li.l7 i {
  background: url("../images/item_box_7.png") no-repeat center;
  background-size: 1rem;
}
#item .popup .item0 li.l8 i {
  background: url("../images/item_box_8.png") no-repeat center;
  background-size: 1rem;
}
#item .popup .item0 li.l9 i {
  background: url("../images/item_box_9.png") no-repeat center;
  background-size: 1rem;
}
