#home {
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
#home .show {
  top: 0;
  width: 10rem;
  height: 100%;
}
#home button {
  position: absolute;
  z-index: 10000;
}
#home .bo {
  mix-blend-mode: overlay;
}
