#hospital {
  height: 100%;
  background: url("../images/hos-bg.png");
  background-size: 100% 100%;
}
#hospital .list-content {
  position: absolute;
  top: 23%;
  height: 77%;
  width: 80%;
  padding: 0 10%;
  font-size: 0;
}
#hospital .list-content .parents {
  position: relative;
  overflow: hidden;
}
#hospital .list-content .parents .f,
#hospital .list-content .parents .x,
#hospital .list-content .parents .m {
  display: inline-block;
}
#hospital .list-content .parents .f {
  width: 40%;
  float: left;
}
#hospital .list-content .parents .m {
  width: 40%;
  float: right;
}
#hospital .list-content .parents .x {
  width: 17%;
  position: absolute;
  left: 42%;
  top: 30%;
}
#hospital .list-content .icon-d,
#hospital .list-content .s,
#hospital .list-content .start {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
#hospital .list-content .icon-d img {
  width: 30%;
}
#hospital .list-content .s img,
#hospital .list-content .start img {
  width: 40%;
}
#hospital .pop {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}
#hospital .pop > ul {
  position: absolute;
  width: 100%;
  top: 1.8rem;
  bottom: 1rem;
  overflow: auto;
}
#hospital .pop .back {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
}
#hospital .pop .back img {
  width: 70%;
}
