.item4 {
  width: 100%;
  height: 100%;
  background: url("../images/vish_bg1.png") no-repeat center;
  background-size: 7.66rem 9rem;
  position: absolute;
}
.item4 .vist_chose {
  overflow: hidden;
  width: 80%;
  margin: 0.6rem auto 0;
  text-align: center;
  font-size: 0;
}
.item4 .vist_chose .vist_btn {
  display: inline-block;
  color: #74edff;
  font-weight: bold;
  font-size: 0.32rem;
  font-family: "宋体", arial, sans-serif;
  text-align: center;
}
.item4 .vist_chose .vist_btn.btn_l {
  width: 50%;
}
.item4 .vist_chose .vist_btn.btn_r {
  width: 50%;
}
.item4 .vist_chose .vist_btn .on {
  border-bottom: 1px solid #74edff;
}
.item4 .vist_hist {
  width: 100%;
  height: 75%;
  margin-top: 0.3rem;
}
.item4 .vist_hist ul {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.item4 .vist_hist ul::-webkit-scrollbar {
  display: none;
}
.item4 .vist_hist ul li {
  width: 6.19rem;
  height: 2.25rem;
  background: url("../images/vish_bg2.png") no-repeat center;
  background-size: 100%;
  position: relative;
  overflow: hidden;
  left: 10%;
}
.item4 .vist_hist ul li::-webkit-scrollbar {
  display: none;
}
.item4 .vist_hist ul li .fish_p {
  width: 0.76rem;
  height: 0.79rem;
  background: url("../images/vish_bg4.png") no-repeat center;
  background-size: 100%;
  left: 7%;
  margin-top: 0.7rem;
  position: absolute;
}
.item4 .vist_hist ul li p {
  position: absolute;
  width: 57%;
  margin: 0.8rem auto auto;
  left: 22%;
  overflow: scroll;
  color: #74edff;
  text-align: left;
  margin-top: 0.9rem;
}
.item4 .vist_hist ul li p::-webkit-scrollbar {
  display: none;
}
.item4 .vist_hist ul li p span {
  border-bottom: 1px solid #74edff;
  display: inline-block;
}
.item4 .vist_hist ul li .vist_go {
  width: 0.61rem;
  height: 0.62rem;
  background: url("../images/vish_go.png") no-repeat center;
  background-size: 100%;
  right: 9%;
  margin-top: 0.85rem;
  position: absolute;
}
.item4 .vist_hist .hbuon {
  width: 100%;
  height: 0.33rem;
  background: url("../images/button1.png") no-repeat center;
  background-size: 0.42rem 100%;
  margin-top: 0.15rem;
}
