.item13 {
  width: 100%;
  height: 100%;
  background: url("../images/hist_bg1.png") no-repeat center;
  background-size: 7.66rem 8.99rem;
  position: absolute;
}
.item13 .fish_num {
  color: #fff;
  position: absolute;
  display: inline-block;
  width: 24%;
  text-align: center;
  font-size: 0.34rem;
  top: 1%;
  left: 38%;
  font-weight: bold;
}
.item13 .list-hist {
  width: 100%;
  height: 81%;
  margin-top: 0.6rem;
}
.item13 .list-hist ul {
  width: 100%;
  height: 93%;
  overflow-y: scroll;
  margin-top: 0.9rem;
}
.item13 .list-hist ul::-webkit-scrollbar {
  display: none;
}
.item13 .list-hist ul li {
  width: 6.18rem;
  height: 2.25rem;
  background: url("../images/hist_bg2.png") no-repeat center;
  position: relative;
  overflow: hidden;
  left: 10%;
}
.item13 .list-hist ul li p {
  position: absolute;
  width: 70%;
  height: 36%;
  margin: 0.6rem auto auto;
  left: 15%;
  overflow: scroll;
  color: #ffffff;
  text-align: center;
  margin-top: 0.8rem;
}
.item13 .buttom {
  width: 100%;
  height: 5%;
  background: url("../images/hist_l_button.png") no-repeat center;
  position: absolute;
}
