.item12 {
  width: 7.3rem;
  height: 9.87rem;
  position: absolute;
  left: 8%;
  top: 5%;
}
.item12 .sort {
  overflow: hidden;
}
.item12 .sort .sort_btn {
  float: left;
  width: 2.17rem;
  margin: 0.4rem 0 0 1rem;
  height: 0.87rem;
  color: #bbb;
  font-weight: bold;
  font-size: 0.39rem;
  position: relative;
  background: url("../images/btn_sort.png") no-repeat center;
  background-size: 100% 100%;
}
.item12 .sort .sort_btn > span {
  display: inline-block;
  padding-top: 0.15rem;
  padding-left: 0.45rem;
}
.item12 .sort .sort_btn.on {
  background: url("../images/btn_sort-on.png") no-repeat center;
  background-size: 100% 100%;
}
.item12 .sort .sort_btn.on > span {
  color: #fff;
}
.item12 .sort .sort_btn > i {
  display: inline-block;
  position: absolute;
  width: 0.43rem;
  height: 0.36rem;
  right: 0.25rem;
  top: 0.25rem;
}
.item12 .sort .sort_btn > i.up {
  background: url("../images/icon_up.png") no-repeat center;
  background-size: 100% 100%;
}
.item12 .sort .sort_btn > i.down {
  background: url("../images/icon_down.png") no-repeat center;
  background-size: 100% 100%;
}
.item12 .list-content {
  width: 100%;
  height: 7.8rem;
  margin-top: 0.2rem;
  overflow: hidden;
}
.item12 .list-content ul {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.item12 .list-content ul li {
  width: 7.1rem;
  height: 2.63rem;
  background: url("../images/market_list_bg.png") no-repeat center;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}
.item12 .list-content ul li .fish_num {
  color: #fff;
  position: absolute;
  display: inline-block;
  width: 24%;
  text-align: center;
  font-size: 0.34rem;
  top: 3%;
  left: 38%;
  font-weight: bold;
}
.item12 .list-content ul li .l {
  width: 2.22rem;
  height: 2.22rem;
  float: left;
  margin: 0.2rem 0 0 0.2rem;
}
.item12 .list-content ul li .price {
  width: 3.17rem;
  height: 2rem;
  float: left;
  margin-top: 0.5rem;
}
.item12 .list-content ul li .price.only1 {
  height: 1rem;
  margin-top: 1rem;
}
.item12 .list-content ul li .price > div {
  width: 100%;
  height: 1rem;
  position: relative;
}
.item12 .list-content ul li .price > div > i {
  display: inline-block;
  position: absolute;
}
.item12 .list-content ul li .price > div .radio {
  width: 0.22rem;
  height: 0.22rem;
  background: url("../images/choose.png") no-repeat center;
  background-size: 100% 100%;
  left: 0.2rem;
  top: 0.35rem;
}
.item12 .list-content ul li .price > div .radio.on {
  background: url("../images/choose-on.png") no-repeat center;
  background-size: 100% 100%;
}
.item12 .list-content ul li .price .underline {
  width: 2.17rem;
  height: 0.22rem;
  background: url("../images/birth_underline.png") no-repeat center;
  background-size: 100% 100%;
  left: 0.6rem;
  bottom: 0.12rem;
}
.item12 .list-content ul li .price .coin2,
.item12 .list-content ul li .price .coin1 {
  width: 0.77rem;
  height: 0.82rem;
  left: 0.6rem;
  z-index: 2;
}
.item12 .list-content ul li .price .coin1 {
  background: url("../images/coin.png") no-repeat center;
  background-size: 100% 100%;
}
.item12 .list-content ul li .price .coin2 {
  background: url("../images/action_4.png") no-repeat center;
  background-size: 100% 100%;
}
.item12 .list-content ul li .price .special_num {
  display: inline-block;
  position: absolute;
  left: 1.3rem;
  bottom: 0.25rem;
  z-index: 2;
  width: 1.4rem;
  height: 0.48rem;
}
.item12 .list-content ul li .pay {
  width: 1.26rem;
  height: 1.23rem;
  float: left;
  background: url("../images/action_bg1.png") no-repeat center;
  background-size: 100% 100%;
  margin-top: 0.9rem;
  margin-left: -0.2rem;
}
.item12 .list-content ul li .pay > i {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.item12 .list-content ul li .pay > i.coin1 {
  background: url("../images/coin.png") no-repeat center;
  background-size: 0.75rem 0.75rem;
}
.item12 .list-content ul li .pay > i.coin2 {
  background: url("../images/action_4.png") no-repeat center;
  background-size: 0.75rem 0.75rem;
}
