@import "util";

.item12 {
  width: 7.3rem;
  height: 9.87rem;
  position: absolute;
  left: 8%;
  top: 5%;
  .sort {
    overflow: hidden;
    .sort_btn {
      float: left;
      width: 2.17rem;
      margin: 0.4rem 0 0 1rem;
      height: 0.87rem;
      color: #bbb;
      font-weight: bold;
      font-size: 0.39rem;
      position: relative;
      .commonBackground("../images/btn_sort.png");
      > span {
        display: inline-block;
        padding-top: 0.15rem;
        padding-left: 0.45rem;
      }
      &.on {
        .commonBackground("../images/btn_sort-on.png");
        > span {
          color: #fff;
        }
      }

      > i {
        display: inline-block;
        position: absolute;
        width: 0.43rem;
        height: 0.36rem;
        right: 0.25rem;
        top: 0.25rem;
        &.up {
          .commonBackground("../images/icon_up.png");
        }
        &.down {
          .commonBackground("../images/icon_down.png");
        }
      }
    }
  }

  .list-content {
    width: 100%;
    height: 7.8rem;
    margin-top: 0.2rem;
    overflow: hidden;
    ul {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling:touch;
      &::-webkit-scrollbar {display:none}
      li {
        width: 7.1rem;
        height: 2.63rem;
        .commonBackground("../images/market_list_bg.png");
        position: relative;
        overflow: hidden;
        .fish_num{
          color: #fff;
          position: absolute;
          display: inline-block;
          width: 24%;
          text-align: center;
          font-size: 0.34rem;
          top: 3%;
          left: 38%;
          font-weight: bold;
        }
        .l {
          width: 2.22rem;
          height: 2.22rem;
          float: left;
          margin: 0.2rem 0 0 0.2rem;
        }

        .price {
          width: 3.17rem;
          height: 2rem;
          float: left;
          margin-top: 0.5rem;
          &.only1{
            height: 1rem;
            margin-top: 1rem;
          }
          > div {
            width: 100%;
            height: 1rem;
            position: relative;
            > i {
              display: inline-block;
              position: absolute;
            }
            .radio {
              width: 0.22rem;
              height: 0.22rem;
              .commonBackground("../images/choose.png");
              left: 0.2rem;
              top: 0.35rem;
              &.on {
                .commonBackground("../images/choose-on.png");
              }
            }
          }
          .underline {
            width: 2.17rem;
            height: 0.22rem;
            .commonBackground("../images/birth_underline.png");
            left: 0.6rem;
            bottom: 0.12rem;
          }
          .coin2, .coin1 {
            width: 0.77rem;
            height: 0.82rem;
            left: 0.6rem;
            z-index: 2;
          }
          .coin1 {
            .commonBackground("../images/coin.png");
          }
          .coin2 {
            .commonBackground("../images/action_4.png");
          }
          .special_num {
            display: inline-block;
            position: absolute;
            left: 1.3rem;
            bottom: 0.25rem;
            z-index: 2;
            width: 1.4rem;
            height: 0.48rem;
          }
        }


        .pay {
          width: 1.26rem;
          height: 1.23rem;
          float: left;
          .commonBackground("../images/action_bg1.png");
          margin-top: 0.9rem;
          margin-left: -0.2rem;
          > i {
            display: inline-block;
            width: 100%;
            height: 100%;
            &.coin1 {
              background: url("../images/coin.png") no-repeat center;
              background-size: 0.75rem 0.75rem;
            }
            &.coin2 {
              background: url("../images/action_4.png") no-repeat center;
              background-size: 0.75rem 0.75rem;
            }
          }
        }
      }
    }
  }
}
