#login {
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
#login .btn {
  margin: 30px auto;
  width: 40%;
  display: block;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #00ff00;
}
#login p {
  text-align: center;
  padding-top: 50%;
  color: #fff;
}
#login p input {
  border: 0;
  background-color: #eee;
  border-radius: 5px;
  padding: 2px;
  color: #000;
  text-align: center;
  width: 28%;
}
