#market {
  height: 100%;
  background: url("../images/bg4.jpg");
  background-size: 100%;
}
#market .list-content {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100%;
}
#market .list-content .sort {
  height: 1rem;
  border-radius: 15px;
  margin-left: 65%;
  background-color: #fff;
  border: 0;
  padding: 0.1rem;
}
#market .list-content > ul {
  height: 90%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#market .list-content > ul::-webkit-scrollbar {
  display: none;
}
