#popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  display: none;
  &.show {
    display: block;
    //display: none;
  }
  &.hide {
    display: none;
  }
  .pop-content {
    width: 6rem;
    //height: 3.32rem;
    position: absolute;
    top: 35%;
    left: 2rem;
    background: url("../images/confirm_bg.png") no-repeat center;
    background-size: 100% 100%;
    padding-bottom: 0.5rem;
    #popup-text {
      text-align: center;
      padding: 0.6rem 0.5rem 0.3rem;
      font-size: 0.46rem;
      font-family: "Microsoft YaHei", arial, sans-serif;
      color: white;
    }
    .pop-actions {
      text-align: center;
      .btn {
        width: 1.25rem;
        height: 1.25rem;
        text-align: center;
        display: inline-block;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        &.yes {
          background: url("../images/yes.png") no-repeat center;
          background-size: 100%;
        }
        &.no {
          background: url("../images/no.png") no-repeat center;
          background-size: 100%;
        }
      }
    }
  }
}
