#res {
  width: 7.6rem;
  position: absolute;
  right: 0.3rem;
  top: 0.4rem;
  z-index: 1;
}
#res .tab1 {
  background: url("../images/tab1.png") no-repeat center;
  background-size: 100%;
  width: 3.6rem;
  height: 1rem;
  position: relative;
  float: left;
  margin-right: 0.2rem;
}
#res .tab1 .text {
  display: inline-block;
  width: 60%;
  margin-left: 24%;
  margin-top: 0.3rem;
  height: 0.4rem;
  text-align: center;
  color: #6a3906;
  font-size: 0.4rem;
}
#res .tab1 .icon {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  left: 0.17rem;
  top: 0.25rem;
}
#res .tab1 .icon.icon1 {
  background: url("../images/icon1.png") no-repeat center;
  background-size: 100% 100%;
}
#res .tab1 .icon.icon2 {
  background: url("../images/icon2.png") no-repeat center;
  background-size: 100% 100%;
}
